/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
/backend/target/
/cli/target/
/frontend/target/
/shared/.js/
/shared/.jvm/
/project/target/
/project/project/target
