.idea
target
project/project
project/target
shared/.js
shared/.jvm
server/public/javascripts/flot
server/public/images
server/public/javascripts/reactjs/scalajs-react-template-opt.js
server/public/javascripts/reactjs/scalajs-react-template-opt.js.map
