@(current: service.DemoUser)(implicit request: RequestHeader)

@main("SecureSocial - Account Link Result") {
    <div class="page-header">
        <h2><img src="@current.main.avatarUrl.getOrElse("")" alt="@current.main.firstName.getOrElse("")" width="40px" height="40px"/>
            Hey @current.main.firstName.getOrElse("")</h2>
    </div>

    <div class="clearfix">
        <h2>You are linked to the following accounts:</h2>


        <h2>@current.main.providerId
        </h2>
        <ul>
            <li>User Id: @current.main.userId</li>
            <li>Fist name: @current.main.firstName.getOrElse("")</li>
            <li>Last name: @current.main.lastName.getOrElse("")</li>
            <li>Full name: @current.main.fullName.getOrElse("")</li>
            <li>Logged in from: @current.main.providerId</li>
            <li>Email: @current.main.email.map { email => @email }.getOrElse("Not Available")</li>
            <li>Authentication method: @current.main.authMethod</li>
        </ul>

        @current.main.oAuth1Info.map { info =>
            <h4>OAuth1 Info</h4>

            <ul>
                <li>Token: @info.token</li>
                <li>Secret: @info.secret</li>
            </ul>
        }

        @current.main.oAuth2Info.map { info =>
            <h4>OAuth2 Info</h4>

            <ul>
                <li>Access Token: @info.accessToken</li>
                @info.tokenType.map { t => <li>Token Type: @t</li> }
                @info.expiresIn.map { exp => <li>Expires in: @exp seconds</li> }
                @info.refreshToken.map { rt => <li>Refresh Token: @rt</li> }
            </ul>

            <hr>
        }
    </div>

    <a class="btn" href="/">Ok</a>
}